<!DOCTYPE html>
<html>
<head>
  <title>MC Username Checker</title>
  <script src="static/script.js" defer></script>
</head>
<body>
  <h1>MC Username Checker</h1>
  <button onclick="startChecking()">Start</button>
  <button onclick="stopChecking()">Stop</button>
  <button onclick="resetChecker()">Reset</button>

  <p id="status">Status: Idle</p>

  <h3>Available usernames:</h3>
  <pre id="results"></pre>

  <h3>Rate-limited usernames:</h3>
  <pre id="lost"></pre>

  <h3>Other usernames:</h3>
  <pre id="other"></pre>

  <h3>Error usernames:</h3>
  <pre id="error"></pre>

  <h3>Taken usernames:</h3>
  <pre id="taken"></pre>
</body>
</html>